CONFLUENCE_USER="sample@sample.co.jp"
CONFLUENCE_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxx"

CONFLUENCE_DOMAIN="sample.atlassian.net"
CONFLUENCE_SPACE="sample"
CONFLUENCE_PAGE="12345678"

CONFLUENCE_TITLE="sample"

SLACK_WEBHOOK_URL="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"
